<div class="note-editor-container">
  <form (ngSubmit)="onSave()" autocomplete="off">
    <div class="note-editor-controls">
      <input class="note-title" [(ngModel)]="tmpTitle" name="title" maxlength="64" required placeholder="Title" [disabled]="!editing"/>
      <div class="icon-actions">
        <button *ngIf="editing" type="button" class="danger" (click)="onDelete()" aria-label="Delete note">Delete</button>
        <button type="submit" class="primary" [disabled]="tmpTitle.trim() === ''">
          {{ editing ? 'Save' : 'Add' }}
        </button>
        <button type="button" class="secondary" (click)="onCancel()">Cancel</button>
      </div>
    </div>
    <textarea class="note-content" [(ngModel)]="tmpContent" name="content" rows="17" placeholder="Take a note..." [disabled]="!editing && !tmpTitle"></textarea>
  </form>
</div>
