.topbar {
  display: flex;
  align-items: center;
  height: 54px;
  padding: 0 2.15rem;
  background: #1976d2;
  color: #fff;
  font-size: 1.48rem;
  box-shadow: 0 0 4px rgba(25, 118, 210, 0.09);
}
.logo {
  width: 2.0rem;
  height: 2.0rem;
  margin-right: 1.0rem;
  background: url('/favicon.ico') no-repeat center/contain;
}
.topbar-title {
  margin: 0 0 0 0.2rem;
  font-weight: 600;
  font-size: 1.18rem;
  letter-spacing: 0.04rem;
}
